@charset "UTF-8";
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), 
         url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}

:root {
    --primary-color: #eeeeee;
    --secondary-color: #202020;
    --highlight-color: #0640ac;
    --footer-background: #333;
    --footer-text: #fff;
    --nav-link-color: #fbff00;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: url('imagens/plane.png'), auto;
}

.img {
    width: 100%;
    height: auto;
    align-items: center;
    margin: 10px;
}

header {
    background: var(--primary-color);
    color: #2b2b2b;
    text-align: center;
}

footer {
    background: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

nav {
    background-color: var(--highlight-color);
    padding: 5px;
}

nav > a {
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 30px
}

main {
    background-color: var(--primary-color);
    margin: 10px;
}

p {
    text-align: justify;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 10px;
    text-indent: 2em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.localizacao {
    margin: 10px

}

.importancia {
    margin: 10px

}

.lcuriosidades {
    margin: 10px

}

